

#tit1{
    background-color:#fea808;
}

h1{
    text-shadow:2px 2px 0px #bc508f;
    color:white;
    font-family: "Barlow Condensed",sans-serif;
    text-align: center;
    font-weight:800px;
    font-size:55px;
 }

 #texto{
    color:white;
    text-align:center;
    padding-left:850px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-size:20px;
    font-style: normal;

 }

 div.scroll-container {
  background-color: #bc508f;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

#foto1,foto2,foto3,foto4{
  width:auto;
  height:auto;
}